<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PyPo</title>
<body>
  <link rel="stylesheet" type="text/css" href="static/webix.css" />
  <link rel="stylesheet" type="text/css" href="static/app.css" />
  
  <select id="transformations"></select>
  <button id="add_transformation">Add</button>
  
  <div id="stack" style="height:150px; overflow: vertical"></div>
  <div id="grid" style="width:100%;height:500px"></div>
  
  <script src="static/jquery.min.js"></script>
  <script type="text/javascript" src="static/webix.js"></script>
  <script type="text/javascript" src="static/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="static/app.js"></script>
</body>
